DATABASE_NAME=flask
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=db
DATABASE_PORT=5432

# Wird in die Datenbank eingepflegt, muss vor erstem Start stimmen
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
MINDEST_GUTHABEN=-50.0

FLASK_SECRET_KEY=supersecret
FLASK_LOGLEVEL=info
FLASK_ALLOWED_HOSTS=*
DATABASE_ENGINE=postgresql
DEBUG=False


# Für das Aussendungs-Modul
BREVO_SECRET= 
BREVO_SENDER_MAIL=
BREVO_SENDER_NAME= 
BREVO_TEMPLATE= 
