{% extends "base.html" %}

{% block title %}Mitglied bearbeiten{% endblock %}

{% block content %}
<h2>Mitglied bearbeiten</h2>

<div class="form-container">
    <form action="{{ url_for('admin.mitglied_bearbeiten', mitglied_id=mitglied.id) }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ mitglied.name }}" required><br><br>

        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" value="{{ mitglied.nickname }}" required><br><br>

        <label for="guthaben">Guthaben:</label>
        <input type="number" id="guthaben" name="guthaben" step="0.01" value="{{ mitglied.guthaben | round(2) }}" required><br><br>

        <button type="submit">Änderungen speichern</button>
        <a href="{{ url_for('admin.admin_bereich') }}" class="button">Abbrechen</a>
    </form>
</div>
{% endblock %}