{% extends "base.html" %}

{% block title %}Vereinsbar - Start{% endblock %}

{% block content %}
<h1>Willkommen an der Vereinsbar!</h1>

<h2>Mitglieder (Übersicht)</h2>
<ul>
    {% for mitglied in mitglieder %}
        <li>{{ mitglied.name }} (Guthaben: {{ mitglied.guthaben | round(2) }}€)</li>
    {% else %}
        <li>Noch keine Mitglieder vorhanden.</li>
    {% endfor %}
</ul>

<h2>Artikel (Übersicht)</h2>
<ul>
    {% for artikel in artikel %}
        <li>{{ artikel.name }} (Preis: {{ artikel.preis | round(2) }}€)</li>
    {% else %}
        <li>Noch keine Artikel vorhanden.</li>
    {% endfor %}
</ul>
{% endblock %}